In [2]:
import pandas as pd
import re 
from gensim.parsing.preprocessing import STOPWORDS, strip_tags, strip_numeric, strip_punctuation, strip_multiple_whitespaces, remove_stopwords, strip_short, stem_text
import pickle
import en_core_web_sm
import nltk
import os

In [3]:
df = pd.read_json('one_cleaned_df.json')
eng_df = df[df.language == 'en'].reset_index()
eng_df.head()

,level_0,index,user_id,user_statuses,name,tweet,retweets,location,created,followers,is_user_verified,language,keyword,favorite_count,in_reply_to_status_id
0,383,0,1323291682000000000,133,GreenerRetail,Who and what has made our greener retailing tr...,0,Planet Earth,05-Mar-2021,70,False,en,@zalando,NaN,NaN
1,384,1,1259761930000000000,1,fattybabycat,".@Zalando offers nothing more than scripted, c...",0,,05-Mar-2021,0,False,en,@zalando,NaN,NaN
2,385,2,835467350200000128,2296,piotrkarwatka,We've got a great talk with Fabian Wesner on h...,0,"WrocÅ‚aw, Polska",05-Mar-2021,1347,False,en,@zalando,NaN,NaN
3,386,3,58485935,114,MissyDawn27586,@Zalando recieved wrong item... donâ€™t know how...,0,,05-Mar-2021,27,False,en,@zalando,NaN,NaN
4,387,4,1059339104000000000,11725,CarolCooney7,@DrewLawDesign @Zalando have sent me a few de...,0,,05-Mar-2021,457,False,en,@zalando,NaN,NaN

In [124]:

pat = r"(\\n)|(@\w*)|((https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,}))"
eng_df.tweet = eng_df.tweet.str.replace(pat, '')
eng_df.tweet[0]

C:\Anaconda\envs\uni\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

'Who and what has made our greener retailing tracker this week? Step forward,, ,,, ,, ,,,, and'

In [85]:

eng_df.tweet = eng_df.tweet.str.replace('\xa0', '')
eng_df.tweet[2]

"We've got a great talk with Fabian Wesner on his new Venture: ROQ Technolgy. \nFabian was a CTO for more than 15 years, leading technology at ,  Rocket Internet, and , doing Headless way before it becomes trendy ;)\n\n"

In [118]:
eng_df.tweet = eng_df.tweet.str.strip(',.:;#-?() \n')
eng_df.tweet[110]

'asos needs to do the same'

In [131]:
eng_df.tweet = eng_df.tweet.str.replace('&amp', '')
eng_df.tweet = eng_df.tweet.str.replace('\n', '')
eng_df.tweet[10644]

'My sister Jo is smashing it being an amazing mum and looking after our parents throughout all the lockdown (I am 100 miles away). ðŸ¥°ðŸ’ª  #ASOSIWD21'

In [34]:
def clean(data):
    pat = r"\\xa0"
    df['tweet'] = eng_df.tweet.str.replace(pat,'')
    return df

TypeError: expected string or bytes-like object