In [1]:
import sys
sys.path.append('../')
import functions
exec(open('./functions.py', encoding="utf8").read())

demoji.download_codes()

Downloading emoji data ...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
... OK (Got response in 0.43 seconds)
Writing emoji data to C:\Users\chiso\.demoji\codes.json ...
... OK
Downloading emoji data ...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chiso\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
... OK (Got response in 0.41 seconds)
Writing emoji data to C:\Users\chiso\.demoji\codes.json ...
... OK
Downloading emoji data ...
... OK (Got response in 0.41 seconds)
Writing emoji data to C:\Users\chiso\.demoji\codes.json ...
... OK

In [2]:
# csv file has no header, hence has to be read without headers

a = pd.read_csv(r"external data\training.1600000.processed.noemoticon.csv", header=None)

In [3]:
a.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# rename the columns
a.columns = ['target', 'ids', 'date', 'flag', 'user', 'text']
a.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
# clean the data using already defined function - see functions.py
a['clean'] = clean_complete(a.text)
a.head()

<string>:50: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:57: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:58: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:59: FutureWarning: The default value of regex will change from True to False in a future version.
<string>:72: FutureWarning: The default value of regex will change from True to False in a future version.

,target,ids,date,flag,user,text,clean
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",awww bummer shoulda got david carr day
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset update facebook texting result school to...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,dived times ball managed save rest bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,body feels itchy like
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",behaving mad

In [6]:
a['text'][4]

"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. "

In [7]:
# lemmatize the cleaned data
a["lemmatized"] = lemmatize(a.clean)
a.head()

,target,ids,date,flag,user,text,clean,lemmatized
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",awww bummer shoulda got david carr day,awww bummer shoulda get david carr day
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset update facebook texting result school to...,upset update facebook texting result school to...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,dived times ball managed save rest bounds,dive times ball manage save rest bound
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,body feels itchy like,body feel itchy like
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",behaving mad,behave mad

In [8]:
#split the lemmatized data
 = a["lemmatized"].str.split()
a.head()

,target,ids,date,flag,user,text,clean,lemmatized,split
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",awww bummer shoulda got david carr day,awww bummer shoulda get david carr day,"[awww, bummer, shoulda, get, david, carr, day]"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset update facebook texting result school to...,upset update facebook texting result school to...,"[upset, update, facebook, texting, result, sch..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,dived times ball managed save rest bounds,dive times ball manage save rest bound,"[dive, times, ball, manage, save, rest, bound]"
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,body feels itchy like,body feel itchy like,"[body, feel, itchy, like]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",behaving mad,behave mad,"[behave, mad]"

In [9]:
# vectorize each tweet
corpus_d2v100 = get_vector100(a["split"])
print(corpus_d2v100.head())
len(corpus_d2v100)

         0         1         2         3         4         5         6   \
0 -0.130482 -0.004077  0.015810  0.049959 -0.041490 -0.120463  0.018499
1 -0.089091 -0.044952  0.031169  0.031441  0.085560 -0.029774  0.007483
2 -0.034209 -0.032731 -0.006503 -0.015595  0.000750  0.142148  0.008335
3  0.039511  0.021044 -0.044086  0.040040  0.004851 -0.081538  0.034979
4 -0.013230  0.019487 -0.037168  0.025121  0.076826 -0.004086  0.005005

         7         8         9   ...        90        91        92        93  \
0  0.054668  0.034647 -0.007607  ...  0.042085  0.007140 -0.006839  0.065315
1 -0.181819  0.014704  0.031289  ...  0.023001 -0.001031  0.057009  0.125231
2  0.034191  0.018336  0.049572  ... -0.003101 -0.033793 -0.046614 -0.036087
3  0.090656 -0.017450 -0.018661  ...  0.050578  0.034360 -0.055606  0.026050
4  0.070915 -0.069859  0.002981  ...  0.088734  0.054730 -0.041834  0.046066

         94        95        96        97        98        99
0 -0.003211 -0.010616  0.007900 -0.021010  0.001334  0.011794
1 -0.058873 -0.190622 -0.068788 -0.087910 -0.060429 -0.148368
2  0.130222  0.097160 -0.004621 -0.135355  0.075437  0.033472
3  0.032533  0.052828  0.007092  0.007348 -0.027534  0.068420
4  0.089995  0.047997 -0.088571 -0.044634 -0.000533  0.022832

[5 rows x 100 columns]

1600000

In [11]:
# merge the target column with the vectorized data
ext_twt100 = a[["target"]].merge(corpus_d2v100, left_index =True, right_index=True)
ext_twt100.head()

,target,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,-0.130482,-0.004077,0.015810,0.049959,-0.041490,-0.120463,0.018499,0.054668,0.034647,...,0.042085,0.007140,-0.006839,0.065315,-0.003211,-0.010616,0.007900,-0.021010,0.001334,0.011794
1,0,-0.089091,-0.044952,0.031169,0.031441,0.085560,-0.029774,0.007483,-0.181819,0.014704,...,0.023001,-0.001031,0.057009,0.125231,-0.058873,-0.190622,-0.068788,-0.087910,-0.060429,-0.148368
2,0,-0.034209,-0.032731,-0.006503,-0.015595,0.000750,0.142148,0.008335,0.034191,0.018336,...,-0.003101,-0.033793,-0.046614,-0.036087,0.130222,0.097160,-0.004621,-0.135355,0.075437,0.033472
3,0,0.039511,0.021044,-0.044086,0.040040,0.004851,-0.081538,0.034979,0.090656,-0.017450,...,0.050578,0.034360,-0.055606,0.026050,0.032533,0.052828,0.007092,0.007348,-0.027534,0.068420
4,0,-0.013230,0.019487,-0.037168,0.025121,0.076826,-0.004086,0.005005,0.070915,-0.069859,...,0.088734,0.054730,-0.041834,0.046066,0.089995,0.047997,-0.088571,-0.044634,-0.000533,0.022832

In [12]:
# save the dataset
pickle.dump(ext_twt100, open(r'.\data_n_models\eng_ext_twt_doc2vec100.pkl', 'wb'))

In [15]:
a["target"].value_counts()

0    800000
4    800000
Name: target, dtype: int64