In [4]:
import pandas as pd
import re 
from gensim.parsing.preprocessing import STOPWORDS, strip_tags, strip_numeric, strip_punctuation, strip_multiple_whitespaces, remove_stopwords, strip_short, stem_text
import pickle
import en_core_web_sm
import nltk
import os

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\home\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [6]:
from nltk.corpus import stopwords

In [16]:
# filter files only for our project, any language
all_files = os.listdir(path='twitterdata')
r = re.compile(".*_(@zalando|zalando|boohoo|bohoo|asos)")
files = list(filter(r.match, files))

In [20]:
#make one dataframe out of all these files
dfs = []

files_paths = ['twitterdata/' + file for file in files]

for x in files_paths:
    data = pd.read_json(x)
    dfs.append(data)

df = pd.concat(dfs)

In [21]:
df.head()

,user_id,user_statuses,name,tweet,retweets,location,created,followers,is_user_verified,favorite_count,in_reply_to_status_id,keyword,language
0,793418126532734976,521,MILESmobility,Good News! Alle interessierten MitarbeiterInne...,0,"Berlin, Deutschland",05-Mar-2021,768,False,NaN,NaN,NaN,NaN
1,1119231287078858752,23,pici1303,@Zalando Ich weiß dass der Schein da rein muss...,0,,04-Mar-2021,0,False,NaN,NaN,NaN,NaN
2,1119231287078858752,23,pici1303,@Zalando Ich hab mich nur gefragt wofür dieser...,0,,04-Mar-2021,0,False,NaN,NaN,NaN,NaN
3,1119231287078858752,23,pici1303,@Zalando Ich hab doch schon den Rücksendeschei...,0,,04-Mar-2021,0,False,NaN,NaN,NaN,NaN
4,1119231287078858752,23,pici1303,@Zalando bei der Retoure ist noch ein einzelne...,0,,04-Mar-2021,0,False,NaN,NaN,NaN,NaN

In [23]:
df.shape

(173369, 13)

In [27]:
df.location.value_counts()

                                  52637
London                             3697
London, England                    3165
Paris, France                      2204
Anchorage, Alaska, USA             1849
                                  ...
Under the azure sky                   1
On Your Mind                          1
Tana, Shaie, Marv ♥️                  1
Lives Wakefield, works London.        1
she/her ; read carrd byf              1
Name: location, Length: 21211, dtype: int64