In [1]:
# 1. Import the following packages:

import pandas as pd 
import matplotlib.pyplot as plt 
from seaborn import displot
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
# 2. Download the data from https://www.kaggle.com/roshansharma/online-shoppers-intention and load it in a Python data frame called df. Which data does it contain? Which business problem can be addressed with it?

df = pd.read_csv("online_shoppers_intention.csv")
df.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0             0.0                      0.0  ...    False    False
1             0.0                      0.0  ...    False    False
2             0.0                     -1.0  ...    False    False
3             0.0                      0.0  ...    False    False
4             0.0                      0.0  ...     True    False

[5 rows x 18 columns]

We could use the data above to determine the traffic on a business' website, number of unique visitors in comparison to returning visitors, time customers spend on the page, other important metrics such as conversion rate - which tracks the percentage of webvisits that adds revenue to a company, etc.

In [16]:
# 3. Remove all rows containing NANs from df. How big is the remaining dataset?
print("All dataset", df.shape)
print("\nColumns with null values\n\n", df.isnull().sum())
print("\nTotal null values: ", df.isnull().sum().sum())

All dataset (12330, 18)

Columns with null values

 Administrative             14
Administrative_Duration    14
Informational              14
Informational_Duration     14
ProductRelated             14
ProductRelated_Duration    14
BounceRates                14
ExitRates                  14
PageValues                  0
SpecialDay                  0
Month                       0
OperatingSystems            0
Browser                     0
Region                      0
TrafficType                 0
VisitorType                 0
Weekend                     0
Revenue                     0
dtype: int64

Total null values:  112

In [18]:
# remove all null values
df = df.dropna()
print("null values dropped: ", df.shape)

null values dropped:  (12316, 18)